<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{report.reporter}}</h3>
        <i class="pull-right glyphicon glyphicon-plus" {{action 'showModal' 'modals/delete-modal'}}></i>
    </div>
    {{#if show}}
    <div class="panel-body">
    </div>
    {{/if}}


</div>
