@import "simple-sidebar.css";
@import "navbar.css";

.map-canvas {
  width: 100%;
  height: 400px;
}

.application-outlet {
    margin-left: 150px;
}

.modal-dialog {
    width: 750px;

.glyph-link {
  cursor:pointer;
}

.img-stacked {
    margin-bottom: 20px;
}
