.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    /*border-bottom: 0px;*/
}

.navbar-custom {
  background-color: #3331ab;
  border-bottom: 1px solid #9d9d9d;
}

.navbar-custom .navbar-brand {
  color:#fff;
}

.navbar-custom .navbar-nav > li > a {
  color: #fff;
}

.navbar-custom .navbar-nav > li > a:hover {
  background-color: #9d9d9d ;
  color: #fff;
}
