{{!-- <h2 id="title">Welcome to Ember.js</h2>
{{google-map}}
{{outlet}} --}}

<h2 id="title">
  Simple example of using
  <a href="https://github.com/huafu/ember-google-map">ember-google-map</a>
</h2>

{{google-map
  lat=lat lng=lng type=type zoom=zoom
  gopt_mapTypeControl=false gopt_backgroundColor='transparent'
  autoFitBounds=true}}
